.moveable-control-box {
  border-radius: var(--chakra-space-3) !important;
}

.moveable-line {
  background: transparent !important;
}

.moveable-control {
  background: white !important;
  z-index: 100;
  margin-top: -6px !important;
  margin-left: -5px !important;
  width: 6px !important;
  height: 6px !important;
  border-radius: 0 !important;
  border-color: rgba(66, 153, 225) !important;
  border-width: 1px !important;
}
